*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
}

:root {
    --form-bg-color: #585858;
    --a-color-bg: #F3C627;
    --a-text-decoration: none;
    --a-font-weight: bold;
    --a-padding: 5px;
}

form {
    background-color: var(--form-bg-color);
}

a {
    background-color: var(--a-color-bg);
    text-decoration: var(--a-text-decoration);
    font-weight: var(--a-font-weight);
    padding: var(--a-padding);
}